<% const d = moment(page.date) -%>
<article class="h-entry page article <%= typeof classNames === 'string' ? classNames : '' %> container" aria-labelledby="page-title" aria-describedby="read" lang="<%= page.lang || config.language %>">
  <header class="post__header">
    <% if (page.cover) { %>
    <div class="<%= ['cover', page.cover.type].filter(d=>d).join(' ') %>">
      <img src="<%= page.image %>" alt="" class="is-responsive is-cover">
    </div>
    <% } %>

    <h1 id="page-title"><%= page.title %></h1>

    <% if (is_page()) { %>
    <%- toc(page.content, {list_number: false}).replace(/>§/g, '>') %>
    <% } %>

    <% if (is_post(page)) { %>
    <ul class="metadata is-inline is-dotted">
      <li>
        <time class="dt-published" datetime="<%= page.date.toISOString() %>"><%= date(page.date) %></time>
      </li>
      <% if (site.categories.findOne({name: 'journal'})) { %>
      <li>#Journal</li>
        <%  page.categories %>
        <% if (categories.length) { %>
       
        <% } %>
      <% } else { %>
      <li><%= readingTime(page.content).text %></li>
      <% } %>
    </ul>
    <% } %>
  </header>

  <section id="read" class="post__content post__content--text e-content">
    <%- page.content %>
  </section>

  <% if (['journal'].includes(page.layout)) { %>
  <% const {permalink} = page.categories %>
  <footer class="post__footer next">
    <p class="read-more">
      <a href="<%= permalink %>">
        <%- partial('icon', {id: 'coffee'}) -%><%= __('more.journal') %>
      </a>
    </p>
  </footer>
  <% } %>

  <% if (is_post() && page.layout === 'page') { %>
  <footer class="post__footer next" aria-label="Feedback links">
    <% if (page.thanks_to) { %>
    <%- markdown(__('metadata.thanks_to', page.thanks_to)) %>
    <% } %>
    <ul class="is-discrete read-more">
      <li>
        <a href="https://github.com/thom4parisot/thom4.net/tree/main/source/<%= page.source %>">
          <%- partial('icon', {id: 'html-tag'}) -%><%= __('metadata.suggest_edit') %>
        </a>
      </li>
      <% if (page.comments) { %><li>
        <a href="#comments">
          <%- partial('icon', {id: 'reactions'}) -%><%= __('more.comments') %>
        </a>
      </li><% } %>
      <li>
        <a href="<%= url_for('/archives/') %>">
          <%- partial('icon', {id: 'browse'}) -%><%= __('more.archives') %>
        </a>
      </li>
    </ul>
  </footer>
  <% } %>


  <% if (is_post() && page.layout === 'page' && page.categories.first()) { %>
  <% const category = page.categories.first() %>
  <% const aside = page.categories.first().posts.find({ date: {$lt: page.date}}).sort('date', -1).limit(4) %>
  <% if (aside.length) { %>
  <aside class="next" aria-labelledby="next-content-title">
    <h2 id="next-content-title"><%= __('more.topic', category.name)%></h2>

    <ul class="is-discrete with-metadata">
      <% aside.forEach(page => { %>
      <li>
        <time class="metadata" datetime="<%= date_xml(page.date) %>"><%= date(page.date) %></time>
        <a href="<%= url_for(page.path) %>" rel="bookmark" lang="<%= page.lang || config.lang %>"><%= page.title.replace(/☕️ Journal : /, '') %></a>
      </li>
      <% }) %>
    </ul>
  </aside>
  <% } %>
  <% } %>

  <% if (is_post() && page.layout === 'journal') { %>
  <% const category = page.categories.last() %>
  <% const next = category.posts.find({ date: {$gte: page.date} }).sort('date', -1).limit(4) %>
  <% const previous = category.posts.find({ date: {$lt: page.date} }).sort('date', -1).limit(4) %>
  <% const aside = [].concat(next.toArray(), previous.toArray()) %>
  <% if (aside.length && category !== page.categories.first()) { %>
  <aside class="next" aria-labelledby="next-category-title">
    <h2 id="next-category-title"><%= __('more.topic', category.name)%></h2>

    <ul class="is-discrete with-metadata">
      <% aside.forEach(p => { %>
      <% const title = p.title.replace(/☕️ Journal : /, 'projet') %>
      <li<%- page.path === p.path ? ' aria-current="true"' : '' -%>>
        <time class="metadata" datetime="<%= date_xml(p.date) %>"><%= date(p.date) %></time>
        <% if (page.path === p.path) { %>
        <span><%= title %></span>
        <% } else { %>
        <a href="<%= url_for(p.path) %>" rel="bookmark" lang="<%= p.lang || config.lang %>"><%= title %></a>
        <% } %>
      </li>
      <% }) %>
    </ul>
  </aside>
  <% } %>
  <% } %>
</article>
