<nav class="fr-sidemenu" role="navigation" aria-labelledby="sidemenu-title">
  <div class="fr-sidemenu__inner">
    <button aria-expanded="false" aria-controls="sidemenu" type="button" class="fr-sidemenu__btn">annexe</button>
    <div class="fr-collapse" id="sidemenu">
      <p class="fr-sidemenu__title" id="sidemenu-title">annexe</p>
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item">
          <button aria-expanded="true" aria-controls="sidemenu-submenu-level-02" aria-current="false" type="button" class="fr-sidemenu__btn">projet</button>
          <div class="fr-collapse" id="sidemenu-submenu-level-02">
            <ul class="fr-sidemenu__list">
             
              <li class="fr-sidemenu__item">
                <button aria-expanded="true" aria-controls="sidemenu-submenu-level-03-1" aria-current="false" type="button" class="fr-sidemenu__btn">liste des projet  </button>
                <div class="fr-collapse" id="sidemenu-submenu-level-03-1">
                  <ul class="fr-sidemenu__list">
                      <% site.posts.each(function(post){ %>
      <li><a href="<%- url_for(post.path) %>" class="fr-sidemenu__link"><%- post.title %></a></li>
    <% }) %>
                  
                  </ul>
                </div>
              </li>
                 <li class="fr-sidemenu__item">
                <button aria-expanded="true" aria-controls="sidemenu-submenu-level-03-2" aria-current="false" type="button" class="fr-sidemenu__btn">liste des preuves  </button>
                <div class="fr-collapse" id="sidemenu-submenu-level-03-2">
                  <ul class="fr-sidemenu__list">
                    <% site.posts.each(function(post){ %>
      <% if (post.lien) { %>
        <li><a href="<%- url_for(post.lien) %>" target="_blank" class="fr-sidemenu__link"><%- post.title %> (preuve)</a></li>
      <% } %>
    <% }) %>
                  
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
      
      </ul>
    </div>
  </div>
</nav>


<div class="widget" data-lazy="social-links" data-modules="/js/lazy-loader.js">
  <h3 class="widget-title">Compétences</h3>
  <div class="skills-list">
    <!-- Vous pouvez ajouter vos compétences ici -->
    <span class="skill">JavaScript</span>
    <span class="skill">HTML</span>
    <span class="skill">CSS</span>
    <span class="skill">Node.js</span>
    <span class="skill">Hexo</span>
  </div>
</div>

<!--<%- partial('newsletter') %>
